body {
    background-color: E5E5E5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.flex-head {
    display: flex;
}

.head-img img {
    width: 800px;
}

.head-txt span {
    color: orange;
}

.head-txt h1 {
    font-size: 60px;
    color: #575757;
    margin-top: 200px;
}

.head-txt h4 {
    font-size: 20px;
    color: dimgray;
    font-weight: 500;
    margin-right: 50px;
    display: block;
    margin-top: 60px;
}

.head-txt a {
    text-decoration: none;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    padding: 20px 35px;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 50px;
}


.head-txt {
    width: 50%;
}

.head-img {
    width: 50%;
}

/* section 1 closed */
.body-flex {
    display: flex;
}

.body-img {
    width: 50%;
    margin-top: 130px;
}

.body-txt {
    width: 50%;
}

.Bg-2 {
    background-image: url(../photos/Frame\ 56.jpg);
    background-repeat: no-repeat;
    background-size: 1912px 600px;
    height: 600px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.body-txt h1 {
    font-size: 40px;
    font-weight: 700;
    color: #707070;
    margin-top: 150px;
}

.body-txt p {
    font-size: 18px;
    color: #18191F;
    margin-right: 201px;
}

.body-txt a {
    text-decoration: none;
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    padding: 20px 35px;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 135px;
}

/* section 2 closed */
.header-mid {
    text-align: center;
    margin-bottom: 50px;
}

.header-mid h1 {
    font-size: 42px;
    font-weight: 700;
    color: #676767;
}

.header-mid p {
    color: #252525;
    font-weight: 300;
    font-size: 18px;
}

/* section 3 closed */
.flex-box {
    display: flex;
}

.rcp-1 img {
    width: 600px;
    border-radius: 10px;
}

.rcp-2 img {
    width: 600px;
    border-radius: 10px;
}

.rcp-1 h1 {
    font-size: 28px;
    font-weight: 900;
    color: #18191F;
}

.rcp-2 h1 {
    font-size: 28px;
    font-weight: 900;
    color: #18191F;
}

.rcp-1 p {
    color: #18191F;
    font-size: 18px;

}

.rcp-2 p {
    color: #18191F;
    font-size: 18px;

}

.rcp-1 {
    width: 50%;
    padding: 60px;
}

.rcp-2 {
    width: 50%;
    margin-left: 85px;
    padding: 60px;
}

.bx-sdw {
    box-shadow: 0px 7px 25px #0f0f0f;
    border-radius: 10px;
    border-left: 8px solid orange;
}

.bx-sdw-2 {
    box-shadow: 0px 7px 25px #0f0f0f;
    border-radius: 10px;
    border-left: 8px solid olivedrab;
}

#bottom {
    margin-bottom: 100px;
}